{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords"
          content="HTML5,CSS3,HTML,Template,multi-page,Ecour - Education Courses & Training HTML Template">
    <meta name="description" content="Ecour - Education Courses & Training HTML Template">
    <meta name="author" content="Barat Hadian">

    <title>آموزشگاه طراحی و دوخت پورموسی </title>

    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/jquery-ui-min.css' %}" rel="stylesheet">

    <link href="{% static 'css/line-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/remixicon.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/swiper-min.css' %}" rel="stylesheet">

    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>

<div class="preloader js-preloader">
    <img src="{% static 'img/preloader.gif' %}" alt="Image">
</div>


<div class="page-wrapper">

    <header class="header-wrap style1">
        <div class="header-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="header-top-left">
                            <div class="close-header-top xl-none">
                                <button type="button"><i class="las la-times"></i></button>
                            </div>
                            <div class="header-contact">
                                <p><i class="ri-map-pin-fill"></i>تهران ، خیابان گیشا کوی نصر نبش خیابان 20 پلاک 169 ,
                                    طبقه 4 , واحد 20</p>
                            </div>
                            <div class="header-contact">
                                <a href="mailto: info@ecour.com "><i class="ri-mail-send-line"></i>
                                    info@pourmousafashionacadmy.ir </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header-top-right">
                            <div class="lang_selctor  style1">
                                <i class="ri-global-line"> </i>
                            </div>
                            <div class="header-social">
                                <span>دنبال کنید :</span>
                                <ul class="social-profile style3">
                                    <li><a target="_blank" href="https://t.me/Pourmousa_Fashion_Academy"> <i
                                            class="ri-telegram-fill"></i> </a></li>
                                    <li><a target="_blank" href="https://www.instagram.com/pourmousa_fashion_academy/">
                                        <i class="ri-instagram-line"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 xl-none">
                        <div class="header-search">
                            <form action="#">
                                <div class="form-group">
                                    <input type="search" placeholder="جستجو ...">
                                    <button type="submit"><i class="ri-search-eye-line"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-4 col-6 order-lg-1 order-md-1 order-1">
                        <div class="logo">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-3 col-6 order-lg-2 order-md-3 order-3">
                        <div class="main-menu-wrap style1">
                            <div class="menu-close xl-none">
                                <a href="javascript:void(0)"><i class="las la-times"></i></a>
                            </div>
                            <div id="menu" class="text-left">
                                <ul class="main-menu ">
                                </ul>
                            </div>
                        </div>
                        <div class="mobile-bar-wrap">
                            <div class="sidebar-menu xl-none">
                                <i class="ri-equalizer-line"></i>
                            </div>
                            <div class="mobile-top-bar xl-none">
                                <i class="ri-settings-3-line"></i>
                            </div>
                            <div class="mobile-menu xl-none">
                                <a href='javascript:void(0)'><i class="ri-menu-line"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5  order-lg-3 order-md-2">
                        <div class="header-menu-wrap">
                            <div class="header-search md-none">
                                <form action="#">
                                    <div class="form-group">
                                        <input type="search" placeholder="جستجو کنید ...">
                                        <button type="submit"><i class="ri-search-eye-line"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="sidebar-menu md-none">
                                <i class="ri-equalizer-line"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="contact-popup">
        <div class="contact-popup-title">
            <button type="button" class="close-popup"><i class="ri-close-fill"></i></button>
        </div>
        <div class="contact-popup-wrap">
            <div class="comp-info">
                <div class="comp-logo">
                </div>
                <p class="comp-desc">آموزشگاه تخصصی طراحی و دوخت پورموسی</p>
                <ul class="footer-contact-address">
                    <li><a href="tel:982186013632"> <i class="ri-phone-line"></i> 13632 860 21 98+</a></li>
                    <li><i class="ri-mail-send-fill"></i> <a href="mailto: info@pourmousafashionacademy.ir ">
                        info@pourmousafashionacademy.ir </a></li>
                    <li>
                        <i class="ri-map-pin-fill"></i> تهران ، خیابان گیشا کوی نصر نبش خیابان 20 پلاک 169 , طبقه 4 ,
                        واحد 20
                    </li>
                </ul>
            </div>
            <div class="comp-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8385385572983!2d144.95358331584498!3d-37.81725074201705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sbd!4v1612419490850!5m2!1sen!2sbd"></iframe>
            </div>
            <div class="share-on text-center">
                <ul class="social-profile style2">
                    <li><a target="_blank" href="https://t.me/Pourmousa_Fashion_Academy"> <i
                            class="ri-telegram-fill"></i> </a></li>
                    <li><a target="_blank" href="https://www.instagram.com/pourmousa_fashion_academy/"> <i
                            class="ri-instagram-line"></i> </a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="hero-wrap style1 bg-f hero-bg-1">
        <div class="hr-line"></div>
        <div class="hr-line"></div>
        <div class="hr-line"></div>
        <div class="hr-line"></div>
        <div class="overlay bg-black op-7"></div>
        <div class="container">
            <div class="hero-circle-shape md-none">
                <img src="{% static 'img/hero/circle-shape.png' %}" alt="Image">
            </div>
            <div class="hero-dot-shape md-none">
                <img src="{% static 'img/hero/dot-shape.png' %}" alt="Image">
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-8">
                    <div class="hero-content">
                        <h1>آموزشگاه تخصصی طراحی
                            و دوخت پورموسی</h1>
                        <p>با ما باشید تا اوج موفقیت</p>
                        <div class="hero-btn">
                            <a href="#" class="btn v1"> <i class="ri-eye-line"></i>
                                مشاهده دوره ها</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-img-wrap">
            <div class="hero-ellipse-img">
                <img src="{% static 'img/hero/poo1.jpg' %}" alt="Image">
            </div>

        </div>
    </div>


    <section class="about-wrap  style1 ptb-100">
        <div class="container">
            <div class="row align-items-center gx-5">
                <div class="col-lg-6">
                    <div class="about-img bg-f about-bg-1">
                        <div class="about-circle-shape md-none">
                            <img src="{% static 'img/about/about-circle-shape-1.svg' %}" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <div class="section-title text-left style1">
                            <span>درباره استاد پورموسی</span>
                            <h2>به آموزشگاه تخصصی طراحی و دوخت پورموسی خوش آمدید</h2>
                            <ul class="about-features-list">
                                <li><i class="ri-login-circle-line"></i> مدیر و موسس و مربی در کلیه رشته های طراحی و
                                    دوخت از سال ۱۳۷۲ تاکنون
                                </li>
                                <li><i class="ri-login-circle-line"></i> مدرس صدا و سیما شبکه زاگرس در سالهای متمادی
                                </li>
                                <li><i class="ri-login-circle-line"></i>مدرس شبکه پنج تهران در برنامه به خانه برمیگردیم
                                </li>
                                <li><i class="ri-login-circle-line"></i> مدرس شبکه سه سیما در برنامه کوک طلایی</li>
                                <li><i class="ri-login-circle-line"></i> محقق در زمینه پوشش بانوان در دانشگاه آزاد
                                    اسلامی
                                </li>
                                <li><i class="ri-login-circle-line"></i> گواهینامه مهارت در تمام زمینه های رشته طراحی و
                                    دوخت
                                </li>
                                <li><i class="ri-login-circle-line"></i> کسب مقام برتر توسط هنرجویان در المپیاد</li>
                                <li><i class="ri-login-circle-line"></i> مربی نمونه استان در سال ۱۳۸۹ – ۱۳۹۵</li>
                                <li><i class="ri-login-circle-line"></i> مدیر نمونه استان در سال ۱۳۹۱ – ۱۳۹۳</li>
                            </ul>
                            <h5>*ما <span>35 سال</span> تجربه تخصصی داریم</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="promo-banner-wrap style1">
        <div class="promo-content  ptb-100 ">
            <h2 class="text-white">آشنایی بیشتر با نحوه برگزاری کلاس های آموزشگاه</h2>
            <h6 class="text-white">برگزاری تمامی کلاس های به صورت عمومی، خصوصی و نیمه خصوصی</h6>
            <p class="text-white">کلاس ها طبق ساعتی که در برگه قرارداد کارآموزی بین هنرجو آکادمی طراحی دوخت پورموسی
                منعقد می گردد برگزار می‌شود ، آکادمی متعهد می شود قرارداد ساعت های آموزشی خود را به پایان برساند و این
                نویدی است برای هنرجویانی که دوره‌های خاص و کوتاه مدت را انتخاب می کنند. تمامی کلاس ها به صورت عمومی
                برگزار می گردد و این کلاس‌ها در هنرجویان انگیزه بیشتری ایجاد می کند چون علاوه بر کار خود و معایب آن با
                کار هنرجویان دیگر و معایب اندامی افراد مختلف آشنا می‌شوند به این روش تدریس بهترین و بیشترین بازده و
                راندمان کاری را دارد.</p>
        </div>
        <div class="promo-img-wrap">
            <div class="promo-img bg-f promo-bg-1">
                <div class="promo-circle-shape md-none">
                    <img src="{% static 'img/promo/promo-circle-shape.svg' %}" alt="Image">
                </div>
            </div>
        </div>
    </section>


    <section class="course-wrap pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title style1 text-center mb-40">
                        <span>دسته بندی های آموزشی</span>
                        <h2>دوره های آموزشی ما</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="course-card style1">
                        <div class="course-img">
                            <a href="#"><img src="{% static 'img/course/nazouk-2.jpg' %}" alt="Image"></a>
                        </div>
                        <div class="course-info">
                            <h3><a href="#">نازک دوزی</a></h3>
                            <div class="course-rating">
                                <ul>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-line"></i></li>
                                </ul>
                                <span>3250 بازدید</span>
                            </div>
                            <p>در این دوره هنرجویان مبتدی روش دوخت انواع کوکها، زیپ، چاک مخفی، کمر دامن و شلوار، لقی
                                گیری، ایرادات اندامی، شومیز، پیراهن، کت، انواع یقه ها و...آموزش میبند و در انتها میتواند
                                انواع کت و شلوار و دامن و مانتو را بدوزد.</p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="course-card style1">
                        <div class="course-img">
                            <a href="#"><img src="{% static 'img/course/zakhim-1.jpg' %}" alt="Image"></a>
                        </div>
                        <div class="course-info">
                            <h3><a href="#">ضخیم دوزی</a></h3>
                            <div class="course-rating">
                                <ul>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-line"></i></li>
                                </ul>
                                <span>7201 بازدید</span>
                            </div>
                            <p>دوخت جلیقه، کت یقه انگلیسی، بارانی یقه کاستر شنل دار، شنل جدا، یقه بلیزر، برش ها، انواع
                                جیب ها، پافر، هودی و کت و ... را فرامیگیرد.
                                <br/>
                                <br/>
                                <br/>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="course-card style1">
                        <div class="course-img">
                            <a href="#"><img src="{% static 'img/course/shab.jpg' %}" alt="Image"></a>
                        </div>
                        <div class="course-info">
                            <h3><a href="#">لباس شب
                                و عروس</a></h3>
                            <div class="course-rating">
                                <ul>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-line"></i></li>
                                </ul>
                                <span>4201 بازدید</span>
                            </div>
                            <p>متد ترک و متدهای روز دنیا</p>
                            <p>دراپاژ، دراپینگ، مولاژ، کاروی مانکن، تاپ، باکس، تاپ عینکی، تاپلکس، انواع دامن های عروس،
                                جابویتان، ترک ماهی، کلوش ها و زیرسازها و ... را و میتونید مزون یا تولیدی خود را راه
                                اندازی کنید.</p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="course-card style1">
                        <div class="course-img">
                            <a #"><img src="{% static 'img/course/drapazh-1.jpg' %}"
                                       alt="Image"></a>
                        </div>
                        <div class="course-info">
                            <h3><a href="#">دوره فوق تخصص دراپاژ و دراپینگ</a></h3>
                            <div class="course-rating">
                                <ul>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-line"></i></li>
                                </ul>
                                <span>2630 بازدید</span>
                            </div>
                            <p>گذراندن این دوره هنرجو می بایست به تمامی رمز خیاطی آشنایی داشته باشد و دوره شب و مجلسی و
                                عروس به ویژه مولاژ را گذرانده باشد ، زیرا پیش نیاز این دوره آشنایی به ساخت مانکن و کار
                                با آن می باشد </p>
                            <br>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="course-card style1">
                        <div class="course-img">
                            <a href="#"><img src="{% static 'img/course/tarh-1.jpg' %}"
                                             alt="Image"></a>
                        </div>
                        <div class="course-info">
                            <h3><a href="#">دوره طراحی لباس</a></h3>
                            <div class="course-rating">
                                <ul>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-line"></i></li>
                                </ul>
                                <span>4300 بازدید</span>
                            </div>
                            <p>طراحی لباس یکی از جذاب‌ترین مهارت‌ها و دوره‌های آموزشی است که افراد علاقمند به هنر و مد و
                                را به خود جذب می‌کند. کارگاه آموزش «طراحی لباس» یکی از دوره‌های تخصصی محبوب آموزشگاه ما
                                می باشد. </p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="course-card style1">
                        <div class="course-img">
                            <a href="#"><img src="{% static 'img/course/suzan-1.jpg' %}" alt="Image"></a>
                        </div>
                        <div class="course-info">
                            <h3><a href="#">دوره تنبور دوزی</a></h3>
                            <div class="course-rating">
                                <ul>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-line"></i></li>
                                </ul>
                                <span>2000 بازدید</span>
                            </div>
                            <p>جدیدترین دوره‌ای که در حال حاضر در ایران برگزار می گردد و روش آشنایی با سوزن تنبور ،
                                شناخت کارگاه ، وصل پارچه های کشی تور به کارگاه ، آشنایی با مواد و ابزار لازم ، از مشخصات
                                این دوره می باشد </p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="course-card style1">
                        <div class="course-img">
                            <a href="#"><img src="{% static 'img/zir3.jpg' %}" alt="Image"></a>
                        </div>
                        <div class="course-info">
                            <h3><a href="#">دوره لباس زیر</a></h3>
                            <div class="course-rating">
                                <ul>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-line"></i></li>
                                </ul>
                                <span>1800 بازدید</span>
                            </div>
                            <p>طراحی و دوخت لباس زیر زنانه یکی از مهمترین رشته‌های خیاطی است الگوسازی، طراحی و دوخت
                                سوتین، شورت، گن، بادی و سایر لباس‌های مخصوص بانوان در این دوره آموزشی تدریس می‌شود. </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="course-card style1">
                        <div class="course-img">
                            <a href="#"><img src="{% static 'img/course/dore-1.jpg' %}"
                                             alt="Image"></a>
                        </div>
                        <div class="course-info">
                            <h3><a href="#">از دیگر آموزش های آکادمی پورموسی</a></h3>
                            <div class="course-rating">
                                <ul>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-line"></i></li>
                                </ul>
                                <span>1500 بازدید</span>
                            </div>
                            <p>الگوسازی و برشکاری ، مانتو دوز ، یقه های سه بعدی ، جیب های فانتزی ، چهل تیکه دوزی با دست
                                و چرخ و… می باشد که هرکدام تنوع و زیبایی خاص خود را دارد. </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="promo-banner-wrap style2">
        <div class="promo-img-wrap">
            <div class="promo-img bg-f promo-bg-1">
                <a class="video-play circle style1"
                   href="https://www.aparat.com/video/video/embed/videohash/eqB9S/vt/frame?startTime=0&autoplay=true">
                    <i
                            class="ri-play-fill"></i> </a>
                <div class="promo-circle-shape md-none">
                    <img src="{% static 'img/promo/promo-circle-shape.svg' %}" alt="Image">
                </div>
            </div>
        </div>
        <div class="promo-content  ptb-100 ">
            <h2 class="text-white">زندگی خود را از طریق آموزش دگرگون کنید</h2>
        </div>

    </section>

    <section class="course-wrap pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title style1 text-center mb-40">
                        <span>دوره های محبوب</span>
                        <h2>دوره های آفلاین محبوب ما</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="course-card style2">
                        <div class="course-img">
                            <a href="#"><img src="{% static 'img/zizo.jpg' %}" alt="Image"></a>
                        </div>
                        <div class="course-info">
                            <h3><a href="#">کلاس آفلاین الگوی ترک</a></h3>
                        </div>
                        <div class="course-info">
                            <p>نحوه اندازه گیری، طراحی الگوی پشت، جلو و آستین، لقی گیری های الگو. </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="course-card style2">
                        <div class="course-img">
                            <a href="#"><img src="{% static 'img/zizo2.jpg' %}" alt="Image"></a>
                        </div>
                        <div class="course-info">
                            <h3><a href="#">کلاس آفلاین نازک و ضخیم دوز</a></h3>
                        </div>
                        <div class="course-info">
                            <p>آموزش الگو سازی انواع دامن، شلوار، شومیز، مانتو، انواع یقه ها، کت، پالتو، کاپشن </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="course-card style2">
                        <div class="course-img">
                            <a href="#"><img src="{% static 'img/shabo.jpg' %}" alt="Image"></a>
                        </div>
                        <div class="course-info">
                            <h3><a href="#">کلاس آفلاین شب و عروس</a></h3>
                        </div>
                        <div class="course-info">
                            <p>لقی گیری الگو، باکس سبک و سنگین،انواع یقه ها و دامن های مجلسی، مولاژ و ... </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="course-card style2">
                        <div class="course-img">
                            <a href="#"><img src="{% static 'img/zir.jpg' %}" alt="Image"></a>
                        </div>
                        <div class="course-info">
                            <h3><a href="#">کلاس آفلاین لباس زیر</a></h3>
                        </div>
                        <div class="course-info">
                            <p>انواع شورت و سوتین، راحتی و فنر دار، لباس خواب، بادی، مایو، گن و لباس زیر مردانه </p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="course-card style2">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="testimonial-wrap bg-f testimonial-bg-1 ptb-100">
        <div class="overlay bg-midnight op-8"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title style2 mb-40 text-center">
                        <span>بازخورد هنرجویان</span>
                        <h2>آنچه آنها درباره ما می گویند</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="testimonial-slider-one swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="client-img">
                                        <img src="{% static 'img/testimonial/client-adi.jpg' %}" alt="Image">
                                    </div>
                                    <div class="client-name">
                                        <h5>آدینا کیائی</h5>
                                        <ul class="rating">
                                            <li><i class="ri-star-fill"></i></li>
                                            <li><i class="ri-star-fill"></i></li>
                                            <li><i class="ri-star-fill"></i></li>
                                            <li><i class="ri-star-fill"></i></li>
                                            <li><i class="ri-star-line"></i></li>
                                        </ul>
                                    </div>
                                    <div class="client-quote">
                                        <p>آموزشگاه پورموسی یک مکان فوق‌العاده برای یادگیری هنر و تخصص در زمینه دوخت و
                                            طراحی لباس است. کلاس‌های شب و عروس، نازک دوز و ضخیم دوز که من از طریق این
                                            آموزشگاه گذراندم، به عنوان یک هنرجو، امکان یادگیری عمیق و جامع از مفاهیم
                                            هنری و تکنیک‌های مدرن دوخت را فراهم کرد.

                                            مربیان ماهر و متعهد، آموزشگاه را به یک فضای دوستانه و حمایت‌کننده تبدیل
                                            کرده‌اند. تجربه من نشان می‌دهد که این آموزشگاه بهترین امکانات و محیط آموزشی
                                            را فراهم کرده و به هنرجوها این امکان را می‌دهد که هر چه بهتر و با اطمینان
                                            بیشتری مهارت‌های خود را تقویت کنند. در پایان از استاد عزیزم خانم پورموسی
                                            کمال تشکر را دارم </p>
                                    </div>
                                    <div class="quote-icon">
                                        <i class="ri-double-quotes-r"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="client-img">
                                        <img src="{% static 'img/testimonial/client-zahra.jpg' %}" alt="Image">
                                    </div>
                                    <div class="client-name">
                                        <h5>زهرا کریمی</h5>
                                        <ul class="rating">
                                            <li><i class="ri-star-fill"></i></li>
                                            <li><i class="ri-star-fill"></i></li>
                                            <li><i class="ri-star-fill"></i></li>
                                            <li><i class="ri-star-fill"></i></li>
                                            <li><i class="ri-star-line"></i></li>
                                        </ul>
                                    </div>
                                    <div class="client-quote">
                                        <p>آموزشگاه پورموسی یک مکان عالی برای یادگیری هنر طراحی و دوخت است. تجربه من
                                            نشان
                                            می‌دهد که این آموزشگاه تلاش مستمر برای ارتقاء کیفیت آموزش و ایجاد یک محیط
                                            دوستانه و حمایتی دارد. کلاس‌هایی که گذرانده‌ام، از لحاظ محتوا و تدریس
                                            مربیان، بسیار مفید و جذاب بوده‌اند.

                                            از نظر فنی و تخصصی، آموزشگاه پورموسی به هنرجوها این امکان را می‌دهد تا به
                                            شیوه‌ها و تکنیک‌های مدرن دوخت و طراحی آشنا شوند. همچنین، تاکید بر کار
                                            عملی و پروژه‌های عملیاتی به هنرجوها این امکان را می‌دهد که مهارت‌های خود را
                                            در زمینه دوخت بهبود بخشند.</p>
                                    </div>
                                    <div class="quote-icon">
                                        <i class="ri-double-quotes-r"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="client-img">
                                        <img src="{% static 'img/testimonial/client-mahsa.jpg' %}" alt="Image">
                                    </div>
                                    <div class="client-name">
                                        <h5>مهسا خسروپور</h5>
                                        <ul class="rating">
                                            <li><i class="ri-star-fill"></i></li>
                                            <li><i class="ri-star-fill"></i></li>
                                            <li><i class="ri-star-fill"></i></li>
                                            <li><i class="ri-star-fill"></i></li>
                                            <li><i class="ri-star-line"></i></li>
                                        </ul>
                                    </div>
                                    <div class="client-quote">
                                        <p>آموزشگاه پورموسی برای یادگیری هنر و تخصص در زمینه دوخت و طراحی یک
                                            انتخاب عالی است. در دوره‌هایی که در این آموزشگاه شرکت کردم، توجه بسیار خوبی
                                            به جزئیات و تکنیک‌های حرفه‌ای دوخت و طراحی شده است. مربیان ماهر و با تجربه،
                                            اطلاعات خود را با هنرجوها به اشتراک می‌گذارند و همیشه آماده‌اند تا در راه
                                            پیشرفت آنها کمک کنند.

                                            یکی از نکات مثبت این آموزشگاه، تاکید بر ایجاد یک فضای صمیمی و محیطی که
                                            هنرجوها به راحتی می‌توانند سوالات خود را بپرسند. این امکان باعث ایجاد
                                            یک ارتباط نزدیکتر بین مربیان و هنرجوها می‌شود.</p>
                                    </div>
                                    <div class="quote-icon">
                                        <i class="ri-double-quotes-r"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer-wrap style1 bg-heath">
        <div class="footer-top pt-100 pb-70">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer-widget">
                            <p>آموزشگاه تخصصی طراحی و دوخت پورموسی</p>
                            <p>تهران ، خیابان گیشا کوی نصر نبش خیابان 20 پلاک 169 , طبقه 4 , واحد 20</p>

                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">تماس با ما</h4>
                            <ul class="footer-contact-address">
                                <li><a href="tel:+98 21 8601 3632"> <i class="ri-phone-line"></i> 13632 860 21 98+</a>
                                </li>
                                <li><i class="ri-mail-send-fill"></i> <a
                                        href="mailto: pourmousafashionacademy@gmail.ir ">
                                    pourmousafashionacademy@gmail.ir </a></li>
                                <li><i class="ri-earth-fill"></i> <a href="https://www.pourmousafashionacademy.ir">www.pourmousafashionacademy.ir</a>
                                </li>
                            </ul>
                            <div class="share-on">
                                <span>دنبال کنید :</span>
                                <ul class="social-profile">
                                    <li><a target="_blank" href="https://t.me/Pourmousa_Fashion_Academy"> <i
                                            class="ri-telegram-fill"></i> </a></li>
                                    <li><a target="_blank" href="https://www.instagram.com/pourmousa_fashion_academy/">
                                        <i class="ri-instagram-line"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1 col-md-6 col-sm-6">
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-8">
                        <div class="copyright-text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>


<a href="#" class="back-to-top bounce"><i class="las la-arrow-up"></i></a>


<script src="{% static 'js/jquery.min.js' %}"></script>

<script src="{% static 'js/jquery-ui.min.js' %}"></script>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap-validator.js' %}"></script>
<script src="{% static 'js/form-validation.js' %}"></script>

<script src="{% static 'js/swiper-min.js' %}"></script>

<script src="{% static 'js/jquery-magnific-popup.js' %}"></script>

<script src="{% static 'js/countdown.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>

